In [1]:
import numpy as np
import pandas as pd

- `JID`: integer number representing the identifier of a job
- `TID`: an integer number between 0 and nj, representing the identifier of tasks belonging to job j
- `ta`: arrival time of task measured in milliseconds
- `C`: running time in seconds required to run the task on a Google Normalized Computing Unit (GNCU)
- `M`: amount of memory required to run the task, expressed in Google Normalized Memory Unit (GNMU)
- `N`: number of servers
- `X = C/¬µ` service time of a task
- `1 GNMU` amount of memory of a server

In [8]:
# Import data.
data = pd.read_csv('Cell_a.csv')

# Check if we import all the rows.
if data.shape[0] == 2329133:
    print('All rows correctly imported!\U0001f44d')

All rows correctly imported!üëç

In [7]:
# Set parameters.
N = 64
mu = 0.1

In [10]:
pd.DataFrame(data.groupby('Job_ID').count().Task_ID)

              Task_ID
Job_ID
375000667413        1
375000669289        1
375000670586        1
375000670588        1
375000670590        1
...               ...
400465207745        1
400465219425        2
400465256347        1
400465256349        1
400465274601        1

[1163061 rows x 1 columns]

The purpose of the challenge is to define a dispatching
algorithm and scheduling algorithms, one for each server, so
as to get the best possible mean job response time.